* {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.headin {
    margin-top: 20px;
    background-color: aquamarine;
    text-align: center;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-main-body {
    height: auto;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-body {
    width: 80%;
    height: auto;
    margin: 40px 60px;
    border-radius: 25px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.message-container {
    height: 150px;
    width: 60%;
    margin-top: 25px;
    border-radius: 8px;
    background-color: rgb(170, 215, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
}

.message-container p {
    background-color: rgb(170, 215, 255);
    font-size: 1.5rem;

}

.buttons {
    background-color: white;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    font-size: 2rem;
    padding: 0.7rem;
    height: 100px;
    width: 100px;
    margin: 20px;
    border: 3px solid yellow;
    border-radius: 16px;
    background-color: white;
    transition: all ease 0.2s;
}

button:hover {
    background-color: rgb(255, 219, 175);
    box-shadow: 0px 0px 8px rgb(40, 40, 40);
    cursor: pointer;

}

#rock {
    background-image: url("images/rock.png");
    background-size: cover;
}

#paper {
    background-image: url("images/paper.png");
    background-size: cover;
}

#scissors {
    background-image: url("images/scissor.png");
    background-size: cover;
}

.score-container {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
}

.score {
    margin: 32px 45px;
    padding: 0px;
    font-size: 1.5rem;
    background-color: aliceblue;
}

.reset-button-container {
    background-color: aliceblue;
}

.reset-button {
    height: auto;
    width: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 5px;
    font-size: 1.5rem;
    background-color: aliceblue;
    transition: all ease 0.15s;
}

.reset-button i {
    background-color: aliceblue;
}

.reset-button:hover {
    background-color: rgb(225, 225, 225);
    cursor: pointer;
}



/* acceessibilty */
.resetall {
    background-color: aliceblue;
    font-size: 1.5rem;
}